<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
	<title>mi juego</title>
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
	<link href="/static/fonts.css" rel="stylesheet" type="text/css" />
</head>
<body background="/static/imagenes/fondo2.jpg">
	<!--<div>esta es la base.html del proyecto</div>
	<div><a href="/user/login/">Iniciar Sesión</a></div>-->
	



<header>
	<nav>
		<ul>
			{% if user.is_authenticated %}
			
			<li><a href="/registrarse/"><span class="segundo"><i class="icon icon-pencil2"></i></span>registarse</a>

				<ul>
					<li> <a href="#">item 1</a></li>
					<li> <a href="#">item 1</a></li>
					<li> <a href="#">item 1</a></li>
					<li> <a href="#">item 1</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="tercero"><i class="icon icon-home"></i></span>inicio</a></li>
			<li><a href="/salir/"><span class="cuarto"><i class="icon icon-close"></i></span>Cerrar Sesion</a></li>

			{% else %}

			<li><a href="/user/login/"><span class="primero"><i class="icon icon-home"></i></span>Iniciar Sesion</a></li>


			{% endif%}





		</ul>	

	</nav>
</header>
<div id="contenido">
<ul>
			<li><h1>Usuario {{ user.username|upper }}</h1></li>
		</ul>	
	 	{% block cuerpo %}
		{% endblock cuerpo %}

	
</div>

</body>
</html>