{% extends 'base.html' %}

{% block cuerpo %}

		 
	<h3>
        <form action="" method="post">{% csrf_token %}
           <table>
            {{ registro }}
            <label>Tipo de usuario</label>
            <select name='stipo'>
            	<option value="11">Super Administrador</option>
            	<option value="10">Administrador</option>
            	<option value="01">usuario</option>
            </select>
        	</table>
         	<input type="submit" value="registrarse"/>
         	<a href="/user/login/">cancelar<span class="element brand">
        </form>
    </h3>
{% endblock cuerpo %}