*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
}
nav{
	margin: 20px auto;
	width: 95%;
	max-width: 1100px;
}

nav ul{
	list-style: none;
}
nav >ul{
	display: table;
	overflow: hidden;
	width: 100%;
	background: #135;
	position: relative;
}
nav >ul li{
	display: table-cell;
}
nav >ul > li > ul {
	display: none;
}
nav > ul li a{
	color:#fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > ul >li a:hover{
	background: #5da5a2;
}
nav > ul > li > a span{
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;;
	top: -55px;

}
nav > ul >li a span .icon{
	display: block;
	line-height: 60px;
}
nav > ul > li a:hover > span {
	top:0; 
}



nav ul li a .primero{
	background: #3e8061;
}
nav ul li a .segundo{
	background: #5da5a2;
}
nav ul li a .tercero{
	background: #f25724;
}
nav ul li a .cuarto{
	background: #37a4d9;
}

#contenido{	
	margin: 20px auto;
	width: 95%;
	height: 500px;
	max-width: 1100px;
	background-color: #fff;
	text-align: center;
	color:#000;
}